.details-container{
    max-width: 1400px;
    margin: 50px auto;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;

    background:#1f1f1f;
    border:1px solid rgba(212,175,55,0.3);
    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

.details-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.details-image img{
    width:100%;
    max-width:420px;
    height:420px;
    object-fit:contain;
    background:#fff;
    border-radius:20px;
    padding:30px;
    transition:.4s;
}

.details-image img:hover{
    transform:scale(1.08);
}

.details-info{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.details-category{
    display:inline-block;
    width:fit-content;
    padding:8px 18px;

    background:rgba(212,175,55,.18);
    color:#d4af37;

    border-radius:30px;
    font-size:15px;
    font-weight:600;
    margin-bottom:18px;

    text-transform:capitalize;
}

.details-info h1{
    color:#fff;
    font-size:38px;
    line-height:1.4;
    margin-bottom:18px;
}

.details-rating{
    color:#f4c542;
    font-size:18px;
    margin-bottom:20px;
}

.details-price{
    color:#d4af37;
    font-size:42px;
    margin-bottom:25px;
}

.details-description{
    color:#d0d0d0;
    font-size:18px;
    line-height:1.8;
    margin-bottom:40px;
}

.details-buttons{
    display:flex;
    gap:20px;
}

.add-btn,
.buy-btn{
    border:none;
    cursor:pointer;

    padding:16px 34px;

    border-radius:12px;

    font-size:18px;
    font-weight:600;

    transition:.3s;
}

.add-btn{
    background:#d4af37;
    color:#111;
}

.add-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(212,175,55,.35);
}

.buy-btn{
    background:#ffffff;
    color:#111;
}

.buy-btn:hover{
    transform:translateY(-3px);
}

.loading{
    color:#fff;
    text-align:center;
    margin-top:120px;
}

@media(max-width:900px){

.details-container{
    grid-template-columns:1fr;
    padding:25px;
    gap:40px;
}

.details-info h1{
    font-size:30px;
}

.details-price{
    font-size:34px;
}

.details-buttons{
    flex-direction:column;
}

.add-btn,
.buy-btn{
    width:100%;
}

}