.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #333;
  border-top: 6px solid #d4af37;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loading-container h3 {
  color: #d4af37;
  font-size: 22px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}